.saved-articles-header {
  padding: 40px 104px 56px;
}
.saved-articles-header__title {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b2280;
  margin: 0;
}
.saved-articles-header__news-amount {
  margin: 28px 0;
  font-family: Roboto Slab, Arial, sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #1a1b22;
  width: 530px;
}

.saved-articles-header__keywords {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
  margin: 0;
}

.saved-articles-header__keywords span {
  font-weight: 700;
}

@media screen and (min-width: 320px) and (max-width: 770px) {
  .saved-articles-header {
    padding: 24px 40px 32px;
  }

  .saved-articles-header__title {
    font-size: 14px;
    line-height: 24px;
  }

  .saved-articles-header__news-amount {
    font-size: 30px;
    line-height: 34px;
    width: 336px;
    margin: 16px 0;
  }
}
