.header {
  background-color: transparent;
  padding: 20px 104px 16px;
  border-bottom: 1px solid #d1d2d6;
  margin: 0;
}

.header__home_menu-opened {
  background-color: #1a1b22;
}

.header__saved-articles_menu-opened {
  background-color: #fff;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.header__logo {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.header__menu {
  background: transparent;
  border: none;
  display: none;
}

.header__menu-icon {
}

.header__btn {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  display: flex;
}

.header__home-btn {
  border: none;
  color: #fff;
  background-color: transparent;
  padding: 0 10px;
  margin: 0;
  cursor: pointer;
  position: relative;
  font-weight: 500;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.header__home-btn::after {
  content: "";
  position: absolute;
  bottom: -16px;
  left: 0%;
  width: 68px;
  height: 3px;
  background-color: #fff;
}

.header__home-btn--black {
  color: #000;
}

.header__saved-articles {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header__saved-articles-btn {
  border: none;
  color: #b6bcbf;
  background-color: transparent;
  padding: 0 66px;
  margin: 0;
  cursor: pointer;
  position: relative;
  font-weight: 500;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.header__saved-articles-btn--black {
  color: #000;
}

.header__saved-articles-btn--black::after {
  content: "";
  position: absolute;
  bottom: -16px;
  left: 15%;
  width: 178px;
  height: 3px;
  background-color: #000;
}

.header__log-out {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  border-style: none;
  outline: 1px #fff solid;
  padding: 12px;
  width: auto;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
}

.header__log-out--black {
  color: #000;
  outline: 1px #000 solid;
}

.header__user-name {
  margin: 0 12px;
}

.header__log-out_img {
  padding: 0;
}

.header__sign-in-btn {
  border-radius: 50px;
  border-style: none;
  outline: 1px #fff solid;
  padding: 12px;
  margin-left: 32px;
  width: 176px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (min-width: 581px) and (max-width: 770px) {
  .header {
    padding: 14px 40px 12px;
  }

  .header__btn {
    font-size: 16px;
    line-height: 24px;
  }

  .header__saved-articles-btn {
    padding: 0 27px;
    width: 160px;
  }

  .header__saved-articles-btn--black::after {
    width: 160px;
    left: 1%;
    bottom: -14px;
  }

  .header__home-btn::after {
    width: 60px;
    bottom: -13px;
  }

  .header__log-out {
    font-size: 16px;
    line-height: 24px;
    padding: 8px 15px;
  }

  .header__sign-in-btn {
    width: 152px;
    padding: 11px;
    margin-left: 16px;
  }
}

@media screen and (max-width: 580px) {
  .header {
    padding: 16px;
  }

  .header__menu {
    display: block;
    padding: 0;
    width: 24px;
    height: 24px;
  }

  .header__menu-icon {
    width: 24px;
    height: 24px;
    padding: 0;
  }

  .header__btn,
  .header__home-btn,
  .header__saved-articles,
  .header__log-out,
  .header__sign-in-btn {
    display: none;
  }

  .header__logo {
    width: 109px;
    height: 16px;
    margin: 0;
  }
}
