.header {
  background-color: transparent;
  padding: 13px 104px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
}

.header__btn {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  display: flex;
}

.header__home-btn {
  border: none;
  color: #fff;
  background-color: transparent;
  padding: 0 10px;
  margin: 0 32px;
  cursor: pointer;
  position: relative;
}

.header__home-btn::after {
  content: "";
  position: absolute;
  bottom: -13px;
  left: 0%;
  width: 68px;
  height: 3px;
  background-color: #fff;
}

.header__saved-articles-btn {
  border: none;
  color: #b6bcbf;
  background-color: transparent;
  padding: 0 10px;
  margin: 0 32px;
  cursor: pointer;
  position: relative;
}

.header__log-out {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  border-style: none;
  outline: 1px #fff solid;
  padding: 12px;
  width: auto;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
}

.header__user-name {
  margin: 0 12px;
}

.header__log-out_img {
  padding: 0 12px 0 0;
}

.header__sign-in-btn {
  border-radius: 50px;
  border-style: none;
  outline: 1px #fff solid;
  padding: 12px;
  width: 176px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
}
